build/release/.ninja_deps
build/release/src/CMakeFiles/MinimalQml.dir/MinimalQml_autogen/mocs_compilation.cpp.obj
build/release/src/CMakeFiles/MinimalQml_autogen.dir/AutogenInfo.json
build/release/src/CMakeFiles/MinimalQml_autogen.dir/AutogenUsed.txt
build/release/src/CMakeFiles/MinimalQml_autogen.dir/ParseCache.txt
build/release/src/CMakeFiles/MyQuick.dir/main.cpp.obj
build/release/src/CMakeFiles/MyQuick.dir/qrc_qml.cpp.obj
build/release/src/CMakeFiles/MyQuick.dir/MyQuick_autogen/mocs_compilation.cpp.obj
build/release/src/CMakeFiles/MyQuick_autogen.dir/AutogenInfo.json
build/release/src/CMakeFiles/MyQuick_autogen.dir/AutogenUsed.txt
build/release/src/CMakeFiles/MyQuick_autogen.dir/ParseCache.txt
build/release/src/MinimalQml_autogen/mocs_compilation.cpp
build/release/src/MinimalQml_autogen/EWIEGA46WW/moc_uidefine.cpp
build/release/src/MyQuick_autogen/mocs_compilation.cpp
build/release/src/MyQuick_autogen/EWIEGA46WW/moc_uidefine.cpp
build/release/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/release/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.exe
build/release/CMakeFiles/3.22.0/CompilerIdCXX/CMakeCXXCompilerId.obj
build/release/CMakeFiles/ShowIncludes/foo.h
build/release/CMakeFiles/ShowIncludes/main.c
build/release/CMakeFiles/ShowIncludes/main.obj
build/release/src/cmake_install.cmake
build/release/src/MinimalQml.cbp
build/release/src/MinimalQml.exe
build/release/src/MinimalQml.exe.manifest
build/release/src/MyQuick.cbp
build/release/src/MyQuick.exe
build/release/src/MyQuick.exe.manifest
build/release/src/qml.qrc.depends
build/release/src/qrc_qml.cpp
build/release/src/CMakeFiles/MinimalQml.dir/main.cpp.obj
build/release/src/CMakeFiles/MinimalQml.dir/qrc_qml.cpp.obj
build/release/.ninja_log
build/release/build.ninja
build/release/cmake_install.cmake
build/release/CMakeCache.txt
build/release/Project.cbp
build/release/.cmake/api/v1/query/cache-v2
build/release/.cmake/api/v1/query/cmakeFiles-v1
build/release/.cmake/api/v1/query/codemodel-v2
build/release/.cmake/api/v1/reply/cache-v2-40e2cf04bdb3e0db2f17.json
build/release/.cmake/api/v1/reply/cmakeFiles-v1-bd047e7a9119b99f6a94.json
build/release/.cmake/api/v1/reply/codemodel-v2-d6f3f770b3e0bc375ef5.json
build/release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
build/release/.cmake/api/v1/reply/directory-src-Release-c94b7c2814d5a21df52c.json
build/release/.cmake/api/v1/reply/index-2021-12-08T15-04-11-0040.json
build/release/.cmake/api/v1/reply/target-MyQuick_autogen-Release-26218464223992ea36d4.json
build/release/.cmake/api/v1/reply/target-MyQuick-Release-df07cd4170a2d879abb5.json
build/release/CMakeFiles/clean_additional.cmake
build/release/CMakeFiles/cmake.check_cache
build/release/CMakeFiles/CMakeOutput.log
build/release/CMakeFiles/rules.ninja
build/release/CMakeFiles/TargetDirectories.txt
build/release/CMakeFiles/3.22.0/CMakeCCompiler.cmake
build/release/CMakeFiles/3.22.0/CMakeCXXCompiler.cmake
build/release/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_C.bin
build/release/CMakeFiles/3.22.0/CMakeDetermineCompilerABI_CXX.bin
build/release/CMakeFiles/3.22.0/CMakeRCCompiler.cmake
build/release/CMakeFiles/3.22.0/CMakeSystem.cmake
build/release/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.c
build/release/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.exe
build/release/CMakeFiles/3.22.0/CompilerIdC/CMakeCCompilerId.obj
